.flex-container1 {
	display: flex;
	margin: 20px;
	margin-left: 120px;
}

.flex-container1 > div {
	margin-left: 50px;
	text-align: center;
}

.flex-container1 > div > button {
	color: white;
}

.flex-container2 {
	display: flex;
	margin: 100px;
	margin-left: 80px;
}
h2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 50%;
	margin: 50px auto;
	color: rgb(255, 217, 0);
	text-align: center;
}
p {
	font-size: 20px;
	color: rgb(255, 217, 0);
	padding: 60px;
	text-align: center;
}
.clr {
	text-align: center;
	color: rgb(255, 217, 0);
}
