.flex-container1 {
  display: flex;
  justify-content: center;

}

.flex-container1 > div {
  margin-left: 35px;
  text-align: center;
}

.flex-container1 > div > button {
  color: white;
}

.flex-container2 {
  justify-content: center;
  display: flex;
  margin: 100px;
  margin-left: 80px;
}

.flex-container2 > div {
  margin-left: 100px;
}

.flex-container2 > div > button {
  color: white;
}

.flex-container3 {
  justify-content: center;
  margin: 100px;
  margin-left: 185px;
  margin-right: 185px;
  background-color: rgb(178, 34, 55);
  border-radius: 15px;
}

.flex-container3 > table {
  margin: 50px;
  text-align: center;
}

.flex-container4 {
  justify-content: center;
  display: flex;
  margin-right: 185px;
  background-color: hsl(348, 83%, 47%);;
  border-radius: 15px;
}

.flex-container4 > div {
  margin: 10px;
  display: inline;
  margin-left: 170px;
  text-align: center;
  border-radius: 25px;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgb(178, 34, 55);
}

.flex-container5 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(178, 34, 55);
  border-radius: 25px;
}

.flex-container5 > td {
  border:1px solid black;
}

.container_market_1 > div > div{
  margin: 50px;
  background-color: rgb(178, 34, 55);
  border-radius: 25px;
}

.container_market_2 > div > ul {
  color: rgb(255, 255, 255);
}

.container_market_3 > div > ol > li > .ol_list {
  display: table;
  margin-top: 150px;
}

.container_market_3 > div > ol > li > .ol_list > div > h3 {
  color: rgba(0, 255, 127, 1.0);
}

#head{
    margin-top: -90px;
    width: 100%;
    position: fixed;
    background-color: rgb(178, 34, 55);

}