#main{
    background-color: hsl(348, 83%, 47%);
}
.flex-container1 {
    display: flex;
    margin: 20px;
    margin-left: 130px;}
.flex-container1 > div {
margin-left: 50px;
text-align: center;}
.flex-container1 > div > button {
color: white;}

#cap{
    text-align: center;
    color: white;
    font-size: 5vw;
}
#content{
    width: 80vw;
}
.img-car{
    max-width: 80vw;
    max-height: 80hw;
}
.merch-cap{
    text-align: center;
    color: yellow;
    font-size: 5vh;
}
.carousel-inner img{
    margin: auto;
}
.carousel .carousel-indicators li.active {
    background-color: yellow;
}
.carousel .carousel-indicators li {
    background-color:chocolate;
}
#card-grid{
    width: 100vw;
}
.space-between-card{
    display: flex;
    justify-content: space-between;
}
.space-between-rows{
    margin-top: 5%;
}
@media screen and (max-width: 700px) {
    #cap{
        font-size: 10vw;
    }
    .space-between-card-mobile{
        margin-top: 5%;
    }
}
